@import '../../vendor/livewire/flux/dist/flux.css';
@custom-variant dark (&:where(.dark, .dark *));

@tailwind base;
@tailwind components;
@tailwind utilities;


[x-cloak] {
    display: none;
}


:root {
    --color-zinc-50: var(--color-slate-50);
    --color-zinc-100: var(--color-slate-100);
    --color-zinc-200: var(--color-slate-200);
    --color-zinc-300: var(--color-slate-300);
    --color-zinc-400: var(--color-slate-400);
    --color-zinc-500: var(--color-slate-500);
    --color-zinc-600: var(--color-slate-600);
    --color-zinc-700: var(--color-slate-700);
    --color-zinc-800: var(--color-slate-800);
    --color-zinc-900: var(--color-slate-900);
    --color-zinc-950: var(--color-slate-950);
}


:root {
    --color-accent: var(--color-indigo-500);
    --color-accent-content: var(--color-indigo-600);
    --color-accent-foreground: var(--color-white);
}


@layer theme {
    .dark {
        --color-accent: var(--color-indigo-500);
        --color-accent-content: var(--color-indigo-300);
        --color-accent-foreground: var(--color-white);
    }
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}


html {
    padding-right: 0 !important;
    overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #6c7b91;
    border-radius: 10px;
    border: 1px solid #1f2937;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #6c7b91;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #6c7b91 transparent;
}
